.menu_item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 1.5rem 1.1rem;
    position: relative;
}

.menu_item_selected {
    width: 4px;
    height: 100%;
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
}

.menu_item_selected::before {
    content: '';
    width: 100%;
    height: 70%;
    border-top-right-radius: 300px;
    border-bottom-right-radius: 300px;
}