@font-face {
    font-family: fredoka;
    src: url("../../public/fonts/Fredoka/Fredoka-Light.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: fredoka;
    src: url("../../public/fonts/Fredoka/Fredoka-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: fredoka;
    src: url("../../public/fonts/Fredoka/Fredoka-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: fredoka;
    src: url("../../public/fonts/Fredoka/Fredoka-SemiBold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: fredoka;
    src: url("../../public/fonts/Fredoka/Fredoka-Bold.ttf");
    font-weight: 900;
    font-style: normal;
}