@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navbar-height: 74px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  outline: 0;
  border: 0;
  text-transform: capitalize;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 700;
}

h2 {
  font-size: 1.6rem;
  text-transform: capitalize;
  font-weight: 700;
}

h3 {
  font-size: 1.4rem;
  text-transform: capitalize;
  font-weight: 700;
}

h4 {
  font-size: 1.2rem;
  text-transform: capitalize;
  font-weight: 700;
}

h5 {
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 700;
}

h6 {
  font-size: 0.87rem;
  text-transform: capitalize;
  font-weight: 700;
}

img {
  user-select: none;
}

.ellipsis-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.ellipsis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.layout-m-b {
  margin-bottom: 3.5rem;
}

.css-uzoczd-MuiPaper-root-MuiDialog-paper {
  padding: 15px;
}