.mapboxgl-ctrl-attrib-inner {
    display: none;
}

.mapboxgl-ctrl .mapboxgl-ctrl-logo {
    display: none;
}

.mapboxgl-ctrl-attrib.mapboxgl-compact.mapboxgl-ctrl-attrib.mapboxgl-compact-show {
    display: none;
}